@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

html, body {
  @apply bg-zinc-900 overflow-x-hidden max-w-full h-full;
}

// Scrollbar
html,
ul {
  ::-webkit-scrollbar-track {
    border-color: hsla(0, 0%, 100%, 0.05) !important;
  }
  ::-webkit-scrollbar-thumb {
    min-width: 3rem !important;
    min-height: 3rem !important;
    border: 0.4rem solid transparent !important;
    -moz-background-clip: content !important;
    -webkit-background-clip: content !important;
    background-clip: content-box !important;
    border-radius: 1rem !important;
    background-color: rgba(255, 255, 255, 0.25) !important;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4) !important;
    }
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent !important;
    border-left: 1px solid hsla(0, 0%, 100%, 0.05) !important; //light rgba(0, 0, 0, 0.1)
    border-top: 1px solid hsla(0, 0%, 100%, 0.05) !important;
  }
  ::-webkit-scrollbar {
    width: 1.2rem !important;
    height: 1.2rem !important;
    background-color: transparent !important;
  }

  &::-webkit-scrollbar-track {
    border-color: hsla(0, 0%, 100%, 0.05) !important;
  }
  &::-webkit-scrollbar-thumb {
    min-width: 3rem !important;
    min-height: 3rem !important;
    border: 0.4rem solid transparent !important;
    -moz-background-clip: content !important;
    -webkit-background-clip: content !important;
    background-clip: content-box !important;
    border-radius: 1rem !important;
    background-color: rgba(255, 255, 255, 0.25) !important;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4) !important;
    }
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent !important;
    border-left: 1px solid hsla(0, 0%, 100%, 0.05) !important; //light rgba(0, 0, 0, 0.1)
    border-top: 1px solid hsla(0, 0%, 100%, 0.05) !important;
  }
  &::-webkit-scrollbar {
    width: 1.2rem !important;
    height: 1.2rem !important;
    background-color: transparent !important;
  }
}

h1 {
  @apply text-4xl font-bold text-zinc-50 sm:text-5xl mb-4;
  font-family: 'Playfair Display', serif;
}
h2 {
  @apply text-2xl font-bold text-zinc-50 sm:text-3xl mb-4;
  font-family: 'Playfair Display', serif;
}
h3 {
  @apply text-lg font-bold text-zinc-50 sm:text-xl mb-2;
}

p {
  @apply mt-2 text-base text-zinc-400
}

// Remove arrows/Spinners from inputs
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}